<p style="color: green"><%= notice %></p>

<p><p><strong>List</strong></p>
<p><%= @list.name %> </p>
<% if @list.photo.attached? %>
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<p><strong>Bookmarks</strong></p>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item">
      <p>movie: <%= bookmark.movie_id %></p>
      <p>list: <%= bookmark.list_id %></p>
      <p>comment: <%= bookmark.comment %></p>
      <p><%= link_to 'Delete bookmark:', bookmark_path(bookmark.id),  data: { turbo_method: :delete, turbo_confirm: 'Delete? Really? ⚠️' } %></p>
    </li>
  <% end %>
</ul>
<p><%= link_to 'Add new bookmark:', new_list_bookmark_path(@list) %></p>
<br>

<div>
  <%= link_to "Back to lists", lists_path %>
